nav {
    position:fixed;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    animation: animationNavbar linear both;
    animation-timeline: scroll(root);
    animation-range: 0 110px;
    z-index: 1;
}
/* Animacion de la navbar */
@keyframes animationNavbar {
    to {
        background-color:rgba(0, 0, 0, .85);
        -webkit-box-shadow: 0px 1px 3px 1px rgba(64,61,64,1);
        -moz-box-shadow: 0px 1px 3px 1px rgba(64,61,64,1);
        box-shadow: 0px 1px 3px 1px rgba(64,61,64,1);
    }
}
a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.5s;
    border-bottom: 3px solid transparent;
    padding-bottom: 3px;    
}
a:hover {
    border-bottom-color: white;
}

ul {
    display: flex;
    column-gap: 10px;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.contenedor { 
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 20px;
}
.masthead {
    height: 60vh;
    min-height: 400px;
    background-image: url('../../../../../assets/zyro-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo {
    display: flex;
    align-items:end;
    cursor: pointer;
}

/* Boton carrioto */
.btn-cart {
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn-cart:hover {
    scale: 1.1;
}