<div class="container">
    <div class="header">
        <h5>Lista de Facturas</h5>
        <!-- Boton para lanzar el modal -->
    </div>

    <div class="card">

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>No.</th>
                        <th>RFC</th>
                        <th>Total</th>
                        <th>Estatus</th>
                        <th>Detalles</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- TODO: Implementar los metodos para obtener la información-->
                </tbody>
            </table>
        </div>
    </div>
</div>