<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img
                                    src="../../../../../assets/onlineshop.jpg"
                                    style="width: 100%; max-width: 250px"
                                    alt = ""
                                />
                            </td>

                            <td class="titulo-factura">
                                <span>Factura</span> #{{ invoice.invoice_id }}<br />
                                Fecha: {{ invoice.created_at }}<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr class="information-customer">
                            <span>Detalles cliente:</span> <br>
                            Dirrecion: {{ customer.address }}, {{ region.region }}<br>
                            Nombre cliente:{{ customer.name}} {{customer.surname }}<br>
                            Rfc: {{ customer.rfc }} <br>    
                            Email: {{ customer.mail }}
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Item</td>
                <td></td>
            </tr>

            <tr class="item" *ngFor="let item of items">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                GTIN: {{ item.gtin }}<br />
                                Cantidad: {{ item.quantity }}<br />
                                Precio Unitario: {{ item.unit_price | currency }}
                            </td>
                            <td>
                                Subtotal: {{ item.subtotal | currency }}<br />
                                Impuestos: {{ item.taxes | currency }}<br />
                                Total: {{ item.total | currency }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Método de pago</td>

                <td>Online</td>
            </tr>

            <tr class="subtotal">
                <td>Subtotal</td>

                <td>{{ invoice.subtotal | currency }}</td>
            </tr>

            <tr class="taxes">
                <td>Impuestos</td>

                <td>{{ invoice.taxes | currency }}</td>
            </tr>

            <tr class="total heading" id="color-h">
                <td>Total</td>

                <td>{{ invoice.total | currency }}</td>
            </tr>

        </table>
    </div>
</body>
