<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img
                                    src="../../../../../assets/onlineshop.jpg"
                                    style="width: 100%; max-width: 300px"
                                    alt = ""
                                />
                            </td>

                            <td>
                                Factura #{{ invoice.invoice_id }}<br />
                                Creada: {{ invoice.created_at }}<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                {{ customer.address }}<br />
                                {{ region.region }}<br />
                                {{ customer.rfc }}
                            </td>

                            <td>
                                {{ customer.name }}<br />
                                {{ customer.surname }}<br />
                                {{ customer.mail }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Método de pago</td>

                <td>Online</td>
            </tr>

            <tr class="subtotal">
                <td>Subtotal</td>

                <td>${{ invoice.subtotal }}</td>
            </tr>

            <tr class="taxes">
                <td>Impuestos</td>

                <td>${{ invoice.taxes }}</td>
            </tr>

            <tr class="total">
                <td>Total</td>

                <td>${{ invoice.total }}</td>
            </tr>

            <tr class="heading">
                <td>Item</td>
                <td>Total</td>
            </tr>

            <tr class="item" *ngFor="let item of items">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                GTIN: {{ item.gtin }}<br />
                                Cantidad: {{ item.quantity }}<br />
                                Precio Unitario: ${{ item.unit_price }}
                            </td>
                            <td>
                                Subtotal: ${{ item.subtotal }}<br />
                                Impuestos: ${{ item.taxes }}<br />
                                Total: ${{ item.total }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
