<shared-navbar></shared-navbar>


<div class="container">
    <div class="card">
        <div class="card-header">
            
            <h5>Lista de Productos</h5>
            <!-- Boton para lanzar el modal -->
            <button type="button" class="btn btn-primary" (click)="showModalForm()" data-toggle="modal" data-target="#modalForm">
              <i class="ph ph-plus-circle icon-text-button"></i>
              Nuevo Producto
            </button>
        </div>


        <div class="card-body" style="text-align: center;">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>No.</th>
                        <th>GTIN</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Estatus</th>
                        <th>Más</th>
                    </tr>    
                </thead>

                <tbody>
                  <tr *ngFor="let product of products; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.gtin }}</td>
                    <td>{{ product.product }}</td>
                    <td>{{ product.price | currency: 'USD' }}</td>
                    <td>
                      <div class="td-status"
                      [ngClass]="{'td-status-enable': product.status == 1, 'td-status-disable': product.status == 0}" >
                        {{ product.status == 0 ? "Inactivo" : "Activo" }}
                      </div>
                    </td>
                    <td>
                      <div class="btn">
                        <button class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                          <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                        </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="showProduct(product.gtin)">
                                <i class="ph ph-note-pencil icon-text-ul"></i>Ver detalles
                            </a>
                            <a *ngIf="product.status == 0" class="dropdown-item enable-item" (click)="enableProduct(product.product_id)">
                              <i class="ph ph-check-circle icon-text-ul"></i>Activar
                            </a>
                            <a *ngIf="product.status == 1" class="dropdown-item disable-item" (click)="disableProduct(product.product_id)">
                              <i class="ph ph-x-circle icon-text-ul"></i> Desactivar
                            </a>
                          </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>    
    </div>    
</div> 