<div class="summary">
    <p>Resumen de compra</p>
    <!-- TODO:Con un  ngfor -->
    <div class="producto acomodo">
        <b>Titulo del producto 1</b>
        <b>$99.99</b>
    </div>

    <div class="producto acomodo">
        <b>Titulo del producto 2</b>
        <b>$99.99</b>
    </div>

    <hr>

    <div class="precios acomodo">
        <p>Subtotal</p>
        <b>$199.98</b>
    </div>
    <div class="precios acomodo">
        <p>Taxes</p>
        <b>-</b>
    </div>

    <hr>

    <div class="precios acomodo">
        <b>Total</b>
        <b>$199.98</b>
    </div>

    <button class="btn-compra">Proceder Al pago</button>

</div>