<div class="summary">
    <p>Resumen de compra:</p>
    <!-- TODO:Con un  ngfor -->
    <div class="producto acomodo">
        <b>Titulo del producto 1</b>
        <b>$99.99</b>
    </div>

    <div class="producto acomodo">
        <b>Titulo del producto 2</b>
        <b>$99.99</b>
    </div>

    <hr>

    <div class="precios acomodo">
        <p>Subtotal</p>
        <p>$199.98</p>
    </div>
    <div class="precios acomodo">
        <p>Taxes</p>
        <p>-</p>
    </div>

    <hr>

    <div class="precios acomodo">
        <b>TOTAL</b>
        <b>$199.98</b>
    </div>

    <button class="btn-compra"><span>PROCEDER AL PAGO</span></button>

</div>