p, b, span{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
b {
    font-weight: 700;
    color: black;
}
span {
    font-weight: 700;
}
p {
    font-weight: 400;
    color: black;
    font-size: 14px;
}
.summary {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 25px;
    margin: 0 15px;
    box-shadow: 
        rgba(100, 100, 111, 0.2)
        0px 7px 29px 0px;
}

.acomodo {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.btn-compra{
    width: 100%;
    padding: 14px;
    margin-top: 30px;
    border: 0;
    background-color: black;
    color: white;
}
.btn-compra {
    color: #FFF;
    border: 2px solid transparent;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

.btn-compra:hover {
    box-shadow: inset 500px 0 0 0 #D80286;
  }
  
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }
