<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lenguajes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">JavaScript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rust</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Python</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Funcionales</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Haskell</a>
            <a class="dropdown-item" href="#">Lisp</a>
            <a class="dropdown-item" href="#">Clojure</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Otros</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Nombre">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

  <div class="container">
    <div class="card">
        <div class="card-header">
            
            <h5>Lista de categorias</h5>
            <!-- Boton para lanzar el modal -->
            <button type="button" class="btn btn-primary" (click)="showModalForm()" data-toggle="modal" data-target="#modalForm">
              <i class="ph ph-plus-circle icon-text-button"></i>
              Nueva categoría
            </button>

        </div>
        <div class="card-body" style="text-align: center;">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>Category_id</th>
                        <th>Code</th>
                        <th>Category</th>
                        <th>Estatus</th>
                        <th>mas</th>
                    </tr>    
                </thead>

                <tbody>
                  <tr *ngFor="let category of categories">
                    <td>{{ category.category_id }}</td>
                    <td>{{ category.code }}</td>
                    <td>{{ category.category }}</td>
                    <td>
                      <div class="td-status"
                      [ngClass]="{'td-status-enable': category.status == 1, 'td-status-disable': category.status == 0}" >
                        {{ category.status == 0 ? "Inactivo" : "Activo" }}
                      </div>
                    </td>
                    <td>
                      <div class="btn">
                        <button class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                          <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                        </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="updateCategory(category)">
                              <i class="ph ph-note-pencil icon-text-ul"></i> Editar
                            </a>
                            <a *ngIf="category.status == 0" class="dropdown-item enable-item" (click)="enableCategory(category.category_id)">
                              <i class="ph ph-check-circle icon-text-ul"></i>Activar
                            </a>
                            <a *ngIf="category.status == 1" class="dropdown-item disable-item" (click)="disableCategory(category.category_id)">
                              <i class="ph ph-x-circle icon-text-ul"></i> Desactivar
                            </a>
                          </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>    
    </div>    
</div>  



<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ categoryUpdated == 0? "Registrar": "Actualizar" }} Categoría</h5>
        <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
          <!-- Category -->
          <div class="form-group">

            <label for="code">Code:</label>
            <input type="text" class="form-control" formControlName="code" id="code" placeholder="XXXX"
              [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}">
              <div *ngIf="form.controls['code'].errors && submitted">
                <small class="color-red">Favor de ingresar un codigo válido</small>
              </div>  
          </div>
          
          <!-- Code -->
          <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control" formControlName="category" id="category" placeholder="Category X"
            [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}">
            <div *ngIf="form.controls['category'].errors && submitted">
              <small class="color-red">Favor de ingresar una categoria válida</small>
            </div>  
          </div>

          <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control form-select" formControlName="status" id="status">
              <option>Activo</option>
              <option>Inactivo</option>
            </select>
            <div *ngIf="form.get('status')?.invalid && (submitted || form.get('status')?.touched)" class="text-danger">
              Debes seleccionar un status.
            </div>
          </div>

          <!-- Submit -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-info btn-form">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>