<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lenguajes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">JavaScript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rust</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Python</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Funcionales</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Haskell</a>
            <a class="dropdown-item" href="#">Lisp</a>
            <a class="dropdown-item" href="#">Clojure</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Otros</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Nombre">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

  <div class="container">
    <div class="card">
        <div class="card-header">
            <h5>Lista de categorias</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="table-info">
                        <th>category_id</th>
                        <th>code</th>
                        <th>category</th>
                        <th>status</th>
                    </tr>    
                </thead>

                <tbody>
                  <tr *ngFor="let category of categories">
                    <td>{{ category.category_id }}</td>
                    <td>{{ category.code }}</td>
                    <td>{{ category.category }}</td>
                    <td>{{ category.status }}</td>
                  </tr>
                </tbody>
            </table>
        </div>    
    </div>    
</div>  

<!-- Boton para lanzar el modal -->
<button type="button" class="btn btn-primary" (click)="showModalForm()" data-toggle="modal" data-target="#modalForm">
  Nueva categoría
</button>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormLabel">Categoría</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Datos</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>